{% extends 'app/base.html' %}

{% block title %} Home {% endblock %}


	{% block body %}

	<div class="container">

		<div class="navbar navbar-inverse">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Empresa</a>
		    <ul class="nav">
		      <li class="active"><a href="#"> <i class="icon-home"></i></a></li>
		      <li id="spiner">
		      	<a href="">
		      		<i class=" icon-cog icon-spin icon-white"></i>
		      		cargando...
		      	</a>
		      </li>
		    </ul>
		  </div>
		</div>

		<div class="row-fluid">

			<div class="span4">

				<div class="navbar">
					<div id="barra" class="navbar-inner">
						<h4 class="pull-left">Empleados</h4>
						<a href="#empleados/nuevo" class="btn btn-inverse pull-right"><i class="icon-user"> </i></a>	
					</div>
				</div>

				<div id="lista-content"></div>
			</div>

			<div class="span8">
				<div id="barra-control"></div>
				<div id="contenido"></div>
			</div>

		</div>


	</div>


	{% endblock body%}


	{% block script %} 
	<!--<script data-main="{{STATIC_URL}}app/js/config" src="{{STATIC_URL}}app/js/libs/require.js"></script>-->

	<script src="{{STATIC_URL}}app/js/libs/require.js"></script>
	<script>
            require.config({
                paths: {
                    "main": "{{STATIC_URL}}app/js/main-built"
                }
            });
            require(["main"]);
    </script>


	{% endblock script%}